#cal {
    color: #191919;
    font-family: Verdana, Helvetica, sans serif;
    display: flex;
    flex-direction: column;
}

#current_date {
    padding-left: 1em;
    line-height: 200%;
    display: inline-flex;
    background-color: #d0d0d0;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
}

.cal-month {
    display: inline-block;
    padding: 16px;
    box-shadow: 2px 0 2px rgba(0, 0, 0, 0.2), -2px 0 2px rgba(0, 0, 0, 0.2), 0 4px 2px rgba(0, 0, 0, 0.2);
}

.cal-week {
    display: flex;
}

.cal-week > .cal-day:first-child {
    background-color: #db2222;
}

.cal-week > .cal-day:nth-child(7) {
    background-color: #0ba5d9;
}

.cal-day {
    display: inline-flex;
    width: 3em;
    height: 3em;
    margin: 0 0.75em;
    border-radius: 1.5em;
    justify-content: center;
    background-color: #e8e8e8;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15);
    line-height: 3em;
}